* { 
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(255, 255, 255);
    
}

#upper-header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;       
}

#nav1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}
.t2{
    background-color: #0033C6;
    width: 300px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}




.ames{
    text-decoration: none;
}

.pmes{
    
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family:'Nunito+Sans', sans-serif;
}


.li1{
    
    border-radius: 23px;
}

#master-header{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
}


.logo{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.cs{
    font-size: 30px;
    align-self: center;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
}
.bsb{
    font-weight: 600;
    color: rgba(0, 0, 255, 0.805);
    font-size: 30px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}


#cab{
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto 310px;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8px;
    grid-template-areas:
        "logo about featured"
        "logo search login";
}
.zap{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 70px;
    align-items: center;
    
}
.zap a{
    
    color: #0033C6;
    font-family:'Nunito+Sans', sans-serif;
    font-size: small;
    margin-right: 25px;
    margin-left: 20px;
    text-decoration: none;
    
}
.zap-logo{
    width: 30px;
    height: 30px;
}
.list{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 70px;
    align-items: center;
}

.list a{
    color: #0033C6;
    font-family:'Nunito+Sans', sans-serif;
    font-size: small;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
}

.zap-baixo{
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    
    
    
    
}
.cep{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.cep button{
    background-color: rgba(230, 225, 225, 0.816);
    width: 150px;
    height: 80%;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.cep button a{
    text-decoration: none;
    font-family:'Nunito+Sans', sans-serif;
    font-size: 12px;
    color: #0033C6;
    

}

.material-symbols-outlined {
    color: blue;
    align-items: center;
    text-decoration: none;
    
    
}

.pesq{
    background-color: rgba(255, 255, 255, 0.301);
    height: 100%;
    width: 100%;
    margin: 0px 24px;
    display: flex;
    align-items: center;
    
}
.pesq input{
    background-color: rgba(230, 225, 225, 0.816);
    border: none;
    font-family: 'Nunito+Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 0px 0px 0px 24px;
    border-radius: 4px;
    height: 80%;

}
.pesq button{
    background-color: rgba(230, 225, 225, 0.816);
    border: none;
    width: 50px;
    border-radius: 0;
    height: 80%;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.img-login{
    height: 35px;
    width: 35px;
}
.entre{
    color: #0033C6 ;
    font-family:'Nunito+Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

#master-header-blue{
    background-color: #0033C6;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 37px;
    flex-direction: row;
    

}
#master-header-blue a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Nunito+Sans', sans-serif;
}
.Com-dep{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.topicos{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
#master-header-red{
    height: 5px;
    width: 100%;
    background-color: #E71A3B;
}
#master-header-final{
    background-color: #ededed;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
#master-header-final a{
    text-decoration: none;
    color: #0033C6;
    font-family:'Nunito+Sans', sans-serif;
    font-size: 12px;

}
#topicos2{
    margin-bottom: 20px;
    background-color: white;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    
    
}
.circulos-azuis{
    height: 80px;
    width: 80px;
    background-color: #0033C6;
    border-radius: 50%;
    align-items: center;
    
}
#topicos2 a{
    color: #0033C6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family:'Nunito+Sans', sans-serif;
    font-size: 12px;
}
#ac{
    color: #0033C6;
    font-family:'Nunito+Sans', sans-serif;
    font-size: 12px;
    display: flex;
    margin-left:11px ;
}
#button-red{
    
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#button-red button{
    background-color: #E71A3B;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-red button a{
    font-size: x-large;
    color: white;
}
#produtos{
    height: 100%;
    width: 100%;
    background-color: #ffff;
    flex-direction: column;
    display: flex;
    gap: 50px;
}
.indicados{
    font-family:'Nunito+Sans', sans-serif;
    color: rgb(0, 51, 198);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin-left: 30px;
    
}
.prod1{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}